<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Quests">
  <ion-content has-header="true" padding="true">
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{quest.title}}</h2>
      </div>

      <div class="item item-body">
        <p>
          {{quest.description}}
        </p>
        <p>Difficulty:
          <i class="ion-star" ng-show="difficulty(1)"></i>
          <i class="ion-star" ng-show="difficulty(2)"></i>
          <i class="ion-star" ng-show="difficulty(3)"></i>
          <i class="ion-star" ng-show="difficulty(4)"></i>
          <i class="ion-star" ng-show="difficulty(5)"></i>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="startMission()">
          <i class="icon ion-flag"></i>
          Start Quest
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
