<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Item Details">
  <ion-content has-header="true" padding="true">
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{shopItem.name}}</h2>
        <p>Type: {{shopItem.type}}</p>
      </div>

      <div class="item item-body" ng-hide="checkType()">
        <p class="pull-left">
          Strength<br><br>
          Vitality<br><br>
          Endurance<br><br>
          Dexterity<br><br>
          Cost
        </p>
        <p class="pull-right">
          <!-- Current attributes and add weapon attributes -->
          {{ user.attributes.strength }} <i class="icon ion-ios7-arrow-thin-right"></i>
          <span ng-class="addClass(shopItem.modifier.strength)">{{ user.attributes.strength + shopItem.strength }}</span>
          <br><br>
          {{ user.attributes.vitality }} <i class="icon ion-ios7-arrow-thin-right"></i>
          <span ng-class="addClass(shopItem.modifier.vitality)">{{ user.attributes.vitality + shopItem.vitality }}</span>
          <br><br>
          {{ user.attributes.endurance }} <i class="icon ion-ios7-arrow-thin-right"></i>
          <span ng-class="addClass(shopItem.modifier.endurance)">{{ user.attributes.endurance + shopItem.endurance }}</span>
          <br><br>
          {{ user.attributes.dexterity }} <i class="icon ion-ios7-arrow-thin-right"></i>
          <span ng-class="addClass(shopItem.modifier.dexterity)">{{ user.attributes.dexterity + shopItem.dexterity }}</span>
          <br><br>
          {{ shopItem.cost }} Gold
        </p>

      </div>


      <div class="item item-body" ng-show="checkType()">
        <p>{{ shopItem.description }}</p>
        <p class="pull-left">Cost</p>
        <p class="pull-right">{{ shopItem.cost }} Gold</p>
      </div>


      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="buyItem()">
          <i class="icon ion-pricetag"></i>
          Buy
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
