<ion-view title="Friends">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/app/friends/add"><button class="button button-icon icon ion-plus"></button></a>
  </ion-nav-buttons>

  <ion-content class="has-header">
  <!--SEARCH BAR-->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText">
      </label>
    </div>


    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends | filter:searchText | orderBy:'profile.displayName'" type="item-text-wrap">
        <img src="venkman.jpg">
        <h2>{{friend.profile.displayName}}</h2>
        <p>Level {{friend.attributes.level}} {{friend.character}}</p>
        <!-- add ngclick event to add battle to user database with status waiting -->
        <ion-option-button class="button-positive" ng-click="requestBattle(friend['_id'])">Battle</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
