<ion-view title="FitRPG">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-refresh" ng-click="refresh()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding dashboard">

    <div class="list">
      <div class="card">
        <div class='item item-avatar'>
          <img src="venkman.jpg">
          <h3>{{user.username}}</h3>
          <p>Level: {{user.attributes.level}} {{user.attributes.charClass}}</p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-icecream"></i>
            Skill Points: {{user.attributes.skillPts}}
          </a>
          <a class="tab-item" href="#">
            <i class="icon icon-coin"></i>
            {{user.attributes.gold}}
          </a>
        </div>
      </div>

      <div class="card">
        <div class="item">
          <div class="row">
            <div class="col">
              <p>
                XP
                <span class="pull-right">{{user.attributes.levelXp}} / {{user.attributes.requiredLevelXp}}</span>
              </p>
              <progressbar max="user.attributes.requiredLevelXp" value="user.attributes.levelXp"></progressbar>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                HP
                <span class="pull-right">{{user.attributes.hp}} / {{user.attributes.maxHp}}</span>
              </p>
              <progressbar max="user.attributes.maxHp" value="user.attributes.hp"></progressbar>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <ion-list>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Strength
            <span class="pull-right">{{user.attributes.strength}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('strength')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Vitality
            <span class="pull-right">{{user.attributes.vitality}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('vitality')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Endurance
            <span class="pull-right">{{user.attributes.endurance}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('endurance')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Dexterity
            <span class="pull-right">{{user.attributes.dexterity}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('dexterity')"></i>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div class="card">
        <ion-list>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Weapon:
            <span class="pull-right">{{user.equipped.weapon1}}</span>
            <div ng-show="isEquipped('weapon1')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('weapon1')"></i>
            </div>
            <div ng-hide="isEquipped('weapon1')">
              <a ng-href="#/app/inventory"><i class="icon ion-ios7-plus-outline"></i></a>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Weapon:
            <span class="pull-right">{{user.equipped.weapon2}}</span>
            <div ng-show="isEquipped('weapon2')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('weapon2')"></i>
            </div>
            <div ng-hide="isEquipped('weapon2')">
              <a ng-href="#/app/inventory"><i class="icon ion-ios7-plus-outline"></i></a>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Armor:
            <span class="pull-right">{{user.equipped.armor}}</span>
            <div ng-show="isEquipped('armor')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('armor')"></i>
            </div>
            <div ng-hide="isEquipped('armor')">
              <a ng-href="#/app/inventory"><i class="icon ion-ios7-plus-outline"></i></a>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Accessory:
            <span class="pull-right">{{user.equipped.accessory1}}</span>
            <div ng-show="isEquipped('accessory1')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('accessory1')"></i>
            </div>
            <div ng-hide="isEquipped('accessory1')">
              <a ng-href="#/app/inventory"><i class="icon ion-ios7-plus-outline"></i></a>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Accessory:
            <span class="pull-right">{{user.equipped.accessory2}}</span>
            <div ng-show="isEquipped('accessory2')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('accessory2')"></i>
            </div>
            <div ng-hide="isEquipped('accessory2')">
              <a ng-href="#/app/inventory"><i class="icon ion-ios7-plus-outline"></i></a>
            </div>
          </ion-item>
        </ion-list>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon icon-coin"></i>
            {{user.attributes.gold}}
          </a>
          <a class="tab-item" href="#/app/store">
            <i class="icon icon-anvil"></i>
            Shop
          </a>
        </div>




      </div>

    </div>

  </ion-content>
</ion-view>