<ion-view title="Playlists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding">
    <h1>Username</h1>
    <div class="row">
      <div class="col col-33">
        Level
      </div>
      <div class="col col-33 col-offset-33">
        <span class="xp">XP</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        HP
      </div>
      <div class="col col-33 col-offset-33">
        <span class="xp">150/450</span>
      </div>
    </div>
    <div class="row">
      Strength: 100
    </div>
    <div class="row">
      Vitality: 100
    </div>
    <div class="row">
      Endurance: 100
    </div>
    <div class="row">
      Dexterity: 100
    </div>
    <div class="row">
      Equipped Item:
    </div>
  </ion-content>
</ion-view>