<ion-view title="Friends">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
  <!--SEARCH BAR-->
  <div class="list">

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Email">
      </label>
      <button class="button button-small">
        Cancel
      </button>
    </div>

  </div>

    <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap">
        {{friend.name}}
        <button class="button button-small">
          Battle!
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
