<ion-view title="FitRPG">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding">
    <h3>Username</h3>
    <div class="padding-bottom">
      <div class="row">
        <div class="col col-33">
          Level
        </div>
        <div class="col col-33 col-offset-33">
          <span class="xp">XP</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <progressbar max="XP" value="currentXP"></progressbar>
        </div>
      </div>
      <div class="row">
        <div class="col col-33">
          HP
        </div>
        <div class="col col-33 col-offset-33">
          <span class="xp">150/450</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <progressbar max="HP" value="currentHP"></progressbar>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item type="item-text-wrap">
        Strength
      </ion-item>
      <ion-item type="item-text-wrap">
        Vitality
      </ion-item>
      <ion-item type="item-text-wrap">
        Endurance
      </ion-item>
      <ion-item type="item-text-wrap">
        Dexterity
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>