<ion-view title="FitRPG" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
<!--   <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-refresh" ng-click="refresh()"></button>
  </ion-nav-buttons> -->

  <ion-content class="has-header padding dashboard">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="list">
      <div class="card">
        <div class='item item-avatar'>
          <img ng-src="{{user.profile.avatar}}">
          <h3>{{user.username}}</h3>
          <p>Level: {{user.attributes.level}} {{user.character}}</p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <div class="tab-item">
            <i class="icon ion-icecream"></i>
            Skill Points: {{user.attributes.skillPts}}
          </div>
          <div class="tab-item">
            <i class="icon icon-coin"></i>
            {{user.attributes.gold}}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="item">
          <div class="row">
            <div class="col">
              <p>
                XP
                <span class="pull-right">{{calculatedData.currentXp}} / {{calculatedData.requiredXp}}</span>
              </p>
              <progressbar max="100" value="(calculatedData.currentXp*100)/calculatedData.requiredXp"></progressbar>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                HP
                <span class="pull-right">{{user.attributes.HP}} / {{calculatedData.maxHp}}</span>
              </p>
              <progressbar max="100" value="(user.attributes.HP*100)/calculatedData.maxHp"></progressbar>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <ion-list>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Strength
            <span class="pull-right">{{calculatedData.strength}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('strength')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Vitality
            <span class="pull-right">{{calculatedData.vitality}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('vitality')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Endurance
            <span class="pull-right">{{calculatedData.endurance}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('endurance')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Dexterity
            <span class="pull-right">{{calculatedData.dexterity}}</span>
            <div ng-show="hasSkillPoints()">
              <i class="icon ion-ios7-plus-outline" ng-click="applyAttributes('dexterity')"></i>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div class="card">
        <ion-list>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Weapon:
            <span class="pull-right">{{user.equipped.weapon1.name}}</span>
            <div ng-show="isEquipped('weapon1')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('weapon1')"></i>
            </div>
            <div ng-hide="isEquipped('weapon1')">
              <i class="icon ion-ios7-plus-outline" ng-click="navTo('inventory')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Weapon:
            <span class="pull-right">{{user.equipped.weapon2.name}}</span>
            <div ng-show="isEquipped('weapon2')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('weapon2')"></i>
            </div>
            <div ng-hide="isEquipped('weapon2')">
              <i class="icon ion-ios7-plus-outline" ng-click="navTo('inventory')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Armor:
            <span class="pull-right">{{user.equipped.armor.name}}</span>
            <div ng-show="isEquipped('armor')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('armor')"></i>
            </div>
            <div ng-hide="isEquipped('armor')">
              <i class="icon ion-ios7-plus-outline" ng-click="navTo('inventory')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Accessory:
            <span class="pull-right">{{user.equipped.accessory1.name}}</span>
            <div ng-show="isEquipped('accessory1')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('accessory1')"></i>
            </div>
            <div ng-hide="isEquipped('accessory1')">
              <i class="icon ion-ios7-plus-outline" ng-click="navTo('inventory')"></i>
            </div>
          </ion-item>
          <ion-item type="item-text-wrap" class="item-icon-right">
            Accessory:
            <span class="pull-right">{{user.equipped.accessory2.name}}</span>
            <div ng-show="isEquipped('accessory2')">
              <i class="icon ion-ios7-minus-outline" ng-click="unequip('accessory2')"></i>
            </div>
            <div ng-hide="isEquipped('accessory2')">
              <i class="icon ion-ios7-plus-outline" ng-click="navTo('inventory')"></i>
            </div>
          </ion-item>
        </ion-list>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <div class="tab-item">
            <i class="icon icon-coin"></i>
            {{user.attributes.gold}}
          </div>
          <div class="tab-item" ng-click="navTo('store')">
            <i class="icon icon-anvil"></i>
            Shop
          </div>
        </div>




      </div>

    </div>

  </ion-content>
</ion-view>
