<ion-view title="Battle">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="padding">
       <div class="button-bar bar-light">
        <!-- data is from users battle array -->
        <a class="button" ng-click="pending()">Pending</a>
        <!-- data is from old battles database -->
        <a class="button" ng-click="history(username)">Outcome</a>
      </div>
    </div>

    <div class="list" ng-show="isPending">
      <div class="item item-divider">
        Waiting
      </div>

      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in battles | filter: { status: 'waiting' }" type="item-text-wrap">
          <img src="venkman.jpg">
          <h2>{{battle.name}}</h2>
          <p>Level {{battle.level}} {{battle.charClass}}</p>
          <!-- change battle.name to unique identifier for battles -->
          <ion-option-button class="button-assertive" ng-click="cancelBattle(battle.name)">Cancel</ion-option-button>
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Requests
      </div>

      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in battles | filter: { status: 'request' }" type="item-text-wrap">
          <img src="venkman.jpg">
          <h2>{{battle.name}}</h2>
          <p>Level {{battle.level}} {{battle.charClass}}</p>
          <!-- change battle.name to unique identifier for battles -->
          <ion-option-button class="button-positive" ng-click="startBattle(battle.name)">Fight</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="cancelBattle(battle.name)">Flee</ion-option-button>
        </ion-item>
      </ion-list>

    </div>

    <div class="list" ng-hide="isPending">
      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in battles" type="item-text-wrap">
          <img src="venkman.jpg">
          <h2>{{battle.name}}</h2>
          <p>Level {{battle.level}} {{battle.charClass}}</p>
          <!-- change battle.name to unique identifier for battles -->
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>



