<ion-view title="Add Friends">

  <ion-content class="has-header">
  <!--SEARCH BAR-->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText">
        <!-- bind a keypress/done event to submit search to database and find results -->
      </label>
    </div>

    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends | orderBy:'name'" type="item-text-wrap">
        <img src="venkman.jpg">
        <h2>{{friend.name}}</h2>
        <p>Level {{friend.level}} {{friend.charClass}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
