<ion-view title="Battle" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()" >
    </ion-refresher>

    <div class="padding">
       <div class="button-bar bar-light">
        <!-- data is from users battle array -->
        <a class="button" ng-click="pending()">Pending</a>
        <!-- data is from old battles database -->
        <a class="button" ng-click="history()">Outcome</a>
      </div>
    </div>

    <div class="list" ng-show="isPending">
      <div class="item item-divider">
        Waiting
      </div>

      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in battles | filter: { status: 'pending' } track by $index" type="item-text-wrap">
          <img ng-src="{{battle.userData.profile.avatar}}">
          <h2>{{battle.userData.profile.displayName}}</h2>
          <p>Level {{battle.userData.attributes.level}} {{battle.userData.character}}</p>
          <!-- change battle.name to unique identifier for battles -->
          <ion-option-button class="button-assertive button-swipe" ng-click="cancelBattle(battle.enemy)">Cancel</ion-option-button>
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Requests
      </div>

      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in battles | filter: { status: 'request' }  track by $index" type="item-text-wrap">
          <img ng-src="{{battle.userData.profile.avatar}}">
          <h2>{{battle.userData.profile.displayName}}</h2>
          <p>Level {{battle.userData.attributes.level}} {{battle.userData.character}}</p>
          <!-- change battle.name to unique identifier for battles -->
          <ion-option-button class="button-positive button-swipe" ng-click="startBattle(battle.enemy)">Fight</ion-option-button>
          <ion-option-button class="button-assertive button-swipe" ng-click="cancelBattle(battle.enemy)">Flee</ion-option-button>
        </ion-item>
      </ion-list>

    </div>

    <div class="list" ng-hide="isPending">
      <!-- <div class="donut">
        <donut-chart chart-data="historyData"></donut-chart>
      </div> -->
      <h4>Wins: {{wins}}, Losses: {{losses}}</h4>
      <div class="item item-divider">
        Wins
      </div>
      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in oldWinBattles track by $index" type="item-text-wrap">
          <img ng-src="{{battle.profile.avatar}}">
          <h2>{{battle.profile.displayName}}</h2>
          <p>Level {{battle.attributes.level}} {{battle.character}}</p>
          <!-- change battle.name to unique identifier for battles -->
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Losses
      </div>
      <ion-list>
        <ion-item class="item-avatar" ng-repeat="battle in oldLossBattles track by $index" type="item-text-wrap">
          <img ng-src="{{battle.profile.avatar}}">
          <h2>{{battle.profile.displayName}}</h2>
          <p>Level {{battle.attributes.level}} {{battle.character}}</p>
          <!-- change battle.name to unique identifier for battles -->
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>



