<ion-view title="Add Friends">

  <ion-content class="has-header">
  <!--SEARCH BAR-->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchText">
        <!-- bind a keypress/done event to submit search to database and find results -->
      </label>
    </div>

    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends | filter:searchText | orderBy:'profile.displayName'" type="item-text-wrap">
        <img ng-src="{{friend.profile.avatar}}">
        <h2>{{friend.profile.displayName}}</h2>
        <p>Level {{friend.attributes.level}} {{friend.character}}</p>
        <ion-option-button class="button-positive button-swipe" ng-click="addFriend(friend['_id'])">Add</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
