<ion-view title="Quests" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" ng-click="navTo('quest')" close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="padding">
       <div class="button-bar bar-light">
        <a class="button" ng-click="all()">All</a>
        <a class="button" ng-click="active()">Active</a>
        <a class="button" ng-click="completed()">Completed</a>
      </div>
    </div>

    <div class="list">

      <!-- Steps quests -->
      <div ng-show="isAll" class="item item-divider">
        Step Up
      </div>
      <a ng-show="isAll" class="item item-icon-left item-icon-right" ng-repeat="quest in availableQuests | filter: {activity:'steps'}  | orderBy: 'gold'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <!-- Distance quests -->
      <div ng-show="isAll" class="item item-divider">
        Go the Distance
      </div>
      <a ng-show="isAll" class="item item-icon-left item-icon-right" ng-repeat="quest in availableQuests | filter: {activity:'distance'}  | orderBy: 'gold'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <!-- Strength quests -->
      <div ng-show="isAll" class="item item-divider">
        Crush It
      </div>
      <a ng-show="isAll" class="item item-icon-left item-icon-right" ng-repeat="quest in availableQuests | filter: {activity:'null'} | orderBy: 'gold'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <!-- Sleep quests -->
      <div ng-show="isAll" class="item item-divider">
        Sleep It Off
      </div>
      <a ng-show="isAll" class="item item-icon-left item-icon-right" ng-repeat="quest in availableQuests | filter: {type:'sleep'}  | orderBy: 'gold'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>


      <!-- Active quests -->
      <div ng-show="isActive" class="item item-divider">
        Your Current Quests
      </div>
      <a ng-show="isActive" class="item item-icon-left item-icon-right" ng-repeat="quest in quests | orderBy: 'gold'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <!-- Completed quests -->
      <div ng-show="isComplete" class="item item-divider">
        Succeeded Quests
      </div>
      <a ng-show="isComplete" class="item item-icon-left item-icon-right" ng-repeat="quest in successfulQuests | orderBy: 'completionTime'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

      <div ng-show="isComplete" class="item item-divider">
        Failed Quests
      </div>
      <a ng-show="isComplete" class="item item-icon-left item-icon-right" ng-repeat="quest in failedQuests | orderBy: 'completionTime'" type="item-text-wrap" href="#/app/quest/{{quest._id}}">
        <i class="icon {{quest.icon}}"></i>
          <h2>{{quest.title}}</h2>
          <p>{{quest.gold}} gold pieces</p>
        <i class="icon ion-ios7-arrow-right"></i>
      </a>

    </div>

  </ion-content>
</ion-view>



