<ion-view title="Versus Missions">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="padding">
       <div class="button-bar bar-positive">
       <!-- add ngclick filter to buttons and put a default filter to show only equipment -->
        <a class="button">New</a>
        <a class="button">Complete</a>
      </div>
    </div>

    <div class="list">
      <a class="item" ng-repeat="mission in versusMissions" type="item-text-wrap" href="#/app/solomission/{{mission.id}}">
        {{mission.name}}
      </a>
    </div>

  </ion-content>
</ion-view>



