<ion-view title="Solo Missions">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <button class="button button-medium button-assertive">
      Fight
    </button>
    <button class="button button-medium button-assertive">
      Flee
    </button>
    <div class="list">

      <div class="item item-divider">
        Waiting
      </div>

      <a class="item" ng-repeat="mission in soloMissions" type="item-text-wrap" href="#/app/solomission/{{mission.id}}">
        {{mission.name}}
        <button class="button button-small button-assertive">
          Cancel
        </button>
      </a>

    </div>

    <div class="item item-divider">
        Requests
      </div>

      <a class="item" ng-repeat="mission in soloMissions" type="item-text-wrap" href="#/app/solomission/{{mission.id}}">
        {{mission.name}}
        <button class="button button-small button-assertive">
          Fight
        </button>
        <button class="button button-small button-assertive">
          Flee
        </button>
      </a>

    </div>

  </ion-content>
</ion-view>



