<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Mission Details">
  <ion-content has-header="true" padding="true">
    <div class="list card">

      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <h2>{{versusMission.name}}</h2>
        <p> Max Party: {{versusMission.size}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{versusMission.description}}
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="selectFriends()">
          <i class="icon ion-person-stalker"></i>
          Select Friends
        </a>
        <a class="tab-item" ng-click="requestMission()">
          <i class="icon ion-flag"></i>
          Start Mission
        </a>
      </div>

    </div>

    <div class="list card" ng-show="showFriends">
    <div class="item item-icon-right" ng-repeat="friend in friends">
      {{friend.name}}
      <div ng-show="inParty(friend.name)">
        <i class="icon ion-ios7-minus-outline" ng-click="removeFriend(friend.name)"></i>
      </div>
      <div ng-hide="inParty(friend.name)">
        <i class="icon ion-ios7-plus-outline" ng-click="addFriend(friend.name)"></i>
      </div>
    </div>

    </div>

  </ion-content>
</ion-view>
