<ion-view title="Battle" hide-back-button="true">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon-gray icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon-gray icon ion-shuffle" ng-show="showRandom" ng-click="random()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon-gray icon ion-stats-bars" ng-show="showHistory" ng-click="history()"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader custom-subheader">
    <div class="button-bar bar-light">
      <a class="button button-tab" ng-class="tabClass.friend" ng-click="friendsBattle()">Friends</a>
      <a class="button button-tab" ng-class="tabClass.boss" ng-click="newBossFights()">Bosses</a>
    </div>
  </div>

  <ion-content class="has-header has-subheader">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()" >
    </ion-refresher>

    <div ng-show="friendsTab">
      <div class="list" ng-show="isPending">
        <div class="list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchText">
          </label>
        </div>

        <ion-list>
          <ion-item class="item-avatar" ng-repeat="friend in friends | filter:searchText | orderBy: 'battleData.status'" type="item-text-wrap" ng-click="startBattle(friend['_id'])">
            <img ng-src="{{friend.profile.avatar}}">
            <h2>{{friend.username}}</h2>
            <p>Level: {{friend.attributes.level}} <span ng-show="battlePending(friend.battleData)">Status: {{friend.battleData.status}}</span></p>
            <ion-option-button class="button-positive button-swipe" ng-click="startBattle(friend['_id'])">Fight</ion-option-button>
            <ion-option-button class="button-assertive button-swipe" ng-click="cancelBattle(friend['_id'])">Cancel</ion-option-button>
          </ion-item>
          <span class="item item-padding" ng-hide="hasBattles">No Pending Battles or Requests</span>
        </ion-list>

      </div>

      <!-- FRIENDS BATTLE STATS -->
      <div class="list" ng-hide="isPending">
        <div class="item row battle-stats">
          <div class="col">
            <h1>{{wins}}</h1>
            <p>Wins</p>
          </div>
          <div class="col">
            <h1>{{losses}}</h1>
            <p>Losses</p>
          </div>
        </div>
        <div class="item item-divider">
          Wins
        </div>
        <ion-list>
          <ion-item class="item-avatar" ng-repeat="battle in oldWinBattles track by $index" type="item-text-wrap">
            <img ng-src="{{battle.profile.avatar}}">
            <h2>{{battle.username}}</h2>
            <p>Level {{battle.attributes.level}} {{battle.character}}</p>
          </ion-item>
        </ion-list>

        <div class="item item-divider">
          Losses
        </div>
        <ion-list>
          <ion-item class="item-avatar" ng-repeat="battle in oldLossBattles track by $index" type="item-text-wrap">
            <img ng-src="{{battle.profile.avatar}}">
            <h2>{{battle.username}}</h2>
            <p>Level {{battle.attributes.level}} {{battle.character}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <!-- BOSS FIGHTS -->
    <div ng-hide="friendsTab">
<!--       <div class="list">
        <a class="item item-icon-right item-padding" ng-repeat="mission in soloMissions | filter: {type: 'boss'} | orderBy: '-level'" type="item-text-wrap" href="#/app/solomission/{{mission['_id']}}">
          <h2>{{mission.title}}</h2>
          <p>Level {{mission.level}}</p>
          <i class="icon icon-gray ion-ios7-arrow-right"></i>
        </a>
      </div> -->
        <ion-list>
          <ion-item class="item item-icon-right" ng-repeat="mission in soloMissions | filter: {type: 'boss'} | orderBy: '-level'" type="item-text-wrap" ng-click="startMission(mission['_id'])">
            <h2>{{mission.title}}</h2>
            <p>Level {{mission.level}},
            Difficulty:
              <i class="ion-star" ng-show="difficulty($index,1)"></i>
              <i class="ion-star" ng-show="difficulty($index,2)"></i>
              <i class="ion-star" ng-show="difficulty($index,3)"></i>
              <i class="ion-star" ng-show="difficulty($index,4)"></i>
              <i class="ion-star" ng-show="difficulty($index,5)"></i>
            </p>
            <ion-option-button class="button-positive button-swipe" ng-click="startMission(mission['_id'])">Fight</ion-option-button>
          </ion-item>
        </ion-list>
    </div>

  </ion-content>

</ion-view>
