/*#f3796a*/
/*#adaeae*/

/* MAIN CHARACTER SCREEN */
.bar-custom {
  background-color: #fff;
  border-bottom: 2px solid #f3796a;
}

.icon-gray {
  color: #adaeae;
}

.bar .title {
  color: #f3796a;
  text-align: left;
}

.item-main {
  background-color: #f3796a;
  padding-left: 85px;
}

.item-main h3 {
  font-weight: bold;
  color: #fff;
}

.item-main p {
  color: #fff;
  font-size: 12px;
}

.item-main > img:first-child {
  top: 0;
  left: 0;
  max-width: 70px;
  max-height: 100%;
  border-radius: 0;
}

.tab-main-left {
  text-align: left;
  padding-left: 20px;
}

.tab-main-right {
  text-align: right;
  padding-right: 20px;
}

.title-red {
  font-size: 20px;
  color: #f3796a;
}

.small-text {
  font-size: 10px;
}

.medium-text {
  font-size: 11px;
}

.main-attributes {
  text-align: center;
}

.main-attributes h1 {
  font-size: 20px;
  color: #777;
  margin-bottom: 0px;
}

.main-attributes p {
  font-size: 11px;
}

.progress-bar {
  background-color: #f3796a;
}

.card-title {
  background-color: #f3796a;
  font-weight: bold;
  color: #fff;
}

.list-heading {
  color: #777;
  border-top: none;
  border-bottom: none;
}

.list-heading h1 {
  font-size: 14px;
  font-weight: normal;
  color: #777;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: thin solid #eee;
}

.list-heading p {
  font-size: 11px;
  padding-left: 15px;
}

.button-custom {
  background-color: #f3796a;
  text-align: center;
  color: #fff;
  border: 0;
  font-size: 20px;
}


/* END CHARACTER SCREEN */

/* BEGIN LIST SCREEN */

.button-tab {
  padding: 0;
  margin: 0 16px;
  border: none;
}

.button-bar > .button-tab-active {
  border-bottom: 2px solid #f3796a;
}

.bar-light .button {
  font-size: 18px;
  color: #f3796a;
}

.item-divider {
  padding: 4px 25px;
  min-height: 18px;
  font-size: 14px;
  font-weight: 700;
  color: #f3796a;
}

.has-subheader {
  top: 84px;
}

.custom-subheader {
  padding-bottom: 0;
  height: 39px;
}

.item p {
  margin: 0;
}

.item-padding {
  padding: 10px 25px;
}

/* END LIST SCREEN */

.loginbox {
  width: 100%;
  top:80%
  right: 0;
  bottom: 0;
  left: 0;
  max-width:90%;
}

ion-item.refresh.item {
   border-style:none;
   width: 15px;
   right:14px;
   position:absolute;
   background-color: #EEEEEE;
   margin-bottom:20px;
}

i.ion-refresh.refresh {
  position: absolute;
  right:13px;
  font-size:19px;
  color:gray;
  top: 0px;
}

.username {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  border-style: double;
  border-color: black;
}

.padding-horizontal {
  padding: 30px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.dashboard {
  background-color: #EEEEEE;
}

.text-red {
  color: red;
  font-weight: bold;
}

.text-green {
  color: green;
  font-weight: bold;
}

.donut {
  margin: 0 auto;
  width: 200px;
}

.popup {
  border-radius: 12px;
}

.popup-head {
  background-color: #ef4e3a;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup-title {
  color: #fff;
}

.popup-body {
  text-align: center;
  min-height: 100px;
}

.button {
  border-width: 0;
}

.popup-buttons.row {
  padding: 10px 40px;
}

.popup-buttons .button {
  border-radius: 45px;
}

.button.button-positive {
  background-color: #777;
}

.button-swipe {
  padding-top: 15px;
}

.item-input {
  margin: 0;
}

.card .item:last-child, .list-inset .item:last-child {
  margin: 0;
}
#login {
  background-color: #f3796a
}

.login-title {
  color: #ffffff;
  font-size: 50px
}

.login-top-tag {
  color: #ffffff;
  padding-top: 30px;
  width: 200px;
  margin-left: -25px;
  font-family:tahoma;
  font-weight:lighter;
  font-size: 21px
}

.login-bottom-tag {
  color: #ffffff;
  width: 250px;
  padding-top: 5px;
  font-family:tahoma;
  font-weight:lighter;
  font-size: 21px
}

.loginbutton {
  position:absolute;
  max-width:90%;
  top: 76%;
}

.login-text {
  color: #ffffff;
  position:absolute;
  top: 22%;
  font-family:tahoma;
  margin-left: -85px;
  left: 50%;
}
